version: '3.9'

services:
  ph_shoes_catalog_service:
    build:
      context: .
      dockerfile: DockerfileDev
    image: ph-shoes-catalog-service:dev
    container_name: ph-shoes-catalog-service
    env_file:
      - .env
    environment:
      JAVA_TOOL_OPTIONS: "--add-opens=java.base/java.nio=ALL-UNNAMED -Dsnowflake.jdbc.enableArrow=false"
    volumes:
      - ./:/app
      - ~/.m2:/root/.m2
    working_dir: /app
    ports:
      - '8083:8083'
    command: >
      bash -lc "cd ph-shoes-catalog-service-web && mvn -am clean compile -q && mvn spring-boot:run -Dspring-boot.run.profiles=dev -Dspring-boot.run.fork=false -Dspring-boot.run.jvmArguments=\"${JAVA_TOOL_OPTIONS}\""
